#__next > div {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#__next main {
	flex: 1 1 auto;
}

body.loading {
	opacity: 0;
}

body.menu-open {
	overflow: hidden;
}

header .tabs .content {
	padding: 0 !important;
}

ul,
ol {
	color: inherit !important;
}

.legal * {
	hyphens: auto;
}
