#__next > div {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#__next main {
	flex: 1 1 auto;
}

body.loading {
	opacity: 0;
}

header .tabs .content {
	padding: 0 !important;
}

ul,
ol,
pre,
code {
	color: inherit !important;
}

dt {
	white-space: break-spaces !important;
	height: unset !important;
}

.btn {
	text-transform: none !important;
}

.auto-margin * {
	margin: 0 !important;
}

.react-multiple-carousel__arrow--left::before,
.react-multiple-carousel__arrow--right::before {
	content: unset !important;
}

.react-multi-carousel-item {
	display: flex;
	align-items: center;
	justify-content: center;
}

.react-multi-carousel-list ul li:before {
	content: none !important;
}

.tabs svg {
	margin: 0 !important;
}

.popover .inner {
	padding: 0 !important;
}

header .card img {
	width: unset !important;
}

.tooltip-content.popover {
	position: fixed !important;
	top: 88px !important;
}

#quikk-clickaway {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.243);
}

body.menu-open {
	overflow: hidden;
}
