#__next > div {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#__next main {
	flex: 1 1 auto;
}

body.loading {
	opacity: 0;
}

body.menu-open {
	overflow: hidden;
}

header .tabs .content {
	padding: 0 !important;
}

ul,
ol,
pre,
code {
	color: inherit !important;
}

dt {
	white-space: break-spaces !important;
	height: unset !important;
}

.btn {
	text-transform: none !important;
}

.auto-margin * {
	margin: 0 !important;
}

.react-multiple-carousel__arrow--left::before,
.react-multiple-carousel__arrow--right::before {
	content: unset !important;
}

.react-multi-carousel-item {
	display: flex;
	align-items: center;
	justify-content: center;
}
